.info {
  background-color: #e6f4f1;
  border: 3px solid #5cb8b2;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin:20px;
}

.infoDead{
  color: #5cb8b2;
  text-align: center;
  font-size: 20px;
}

.ifDead{
  margin: auto;
  justify-content: center;
  text-align: center;
  background-color: #f4e6e6;
  border: 3px solid #b85c5c;
  border-radius: 20px;
  margin:20px;
  padding: 30px;
  font-size: 30px;
  color: #b85c5c;
}

.ifDead p{
  text-align: center;
}

.info p {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  color: #5cb8b2;
  text-shadow: 2px 2px 0 #fff;
}

.actions button, .reloadButton {
  background-color: #5cb8b2;
  color: #fff;
  border: none;
  padding: 15px 25px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 0 #32777a;
  box-shadow: 0 5px 0 #32777a;
  transition: all 0.2s ease-in-out;
}

.actions button:hover, .reloadButton:hover {
  background-color: #32777a;
  transform: translateY(-5px);
  box-shadow: 0 10px 0 #1d494c;
}

.reloadButton{
  margin: 20px;
}

.actions button:active, .reloadButton:active {
  background-color: #1d494c;
  transform: translateY(2px);
  box-shadow: none;
}

.actions{
  margin: 20px;
}